Header set Cache-Control "no-cache, no-store, must-revalidate, max-age=0, proxy-revalidate, no-transform"
Header set Pragma "no-cache"
ExpiresActive On
ExpiresDefault A0
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|ttf|eot|woff|swf)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>
# Server- und Firmencache ausschalten
# Icons und Bilder werden fuer eine bestimmte Zeit gecached

AddCharset utf-8 .css .htm .html .js .xml
php_value default_charset utf-8
# Character Encoding auf UTF-8 einstellen

RewriteEngine on
# mod_rewrite einschalten

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

# wenn keine Location wird sowieso index.php reingeladen also muss man fuer / keine Regel festlegen
RewriteRule ^kontrolle/(.*)/(.*)$ /index.php?location=kontrolle.php&klasse=$1&student=$2
RewriteRule ^kontrolle/(.*)$ /index.php?location=kontrolle.php&klasse=$1
RewriteRule ^kontrolle$ /index.php?location=kontrolle.php
RewriteRule ^zuteilung/(.*)/(.*)$ /index.php?location=zuteilung.php&sponsoren=$1&students=$2
RewriteRule ^zuteilung$ /index.php?location=zuteilung.php
RewriteRule ^bearbeitung/(.*)/(.*)$ /index.php?location=bearbeitung.php&plz=$1&student=$2
RewriteRule ^bearbeitung/(.*)$ /index.php?location=bearbeitung.php&search=$1
RewriteRule ^bearbeitung$ /index.php?location=bearbeitung.php
RewriteRule ^login$ /index.php?location=login.php
RewriteRule ^logout$ /index.php?location=logout.php

#RewriteRule ^(.*)$ /index.php?location=$1.php funktioniert irgendwie nicht, anscheinend ueberschreibt es die anderen Regeln kA

#Options +Indexes
# Zugriff auf Verzeichnisuebersicht sperren - nur aktuelles Verzeichnis

#ErrorDocument 403 /fehlerseiten/forbidden.php
#ErrorDocument 404 /fehlerseiten/not_found.php
#ErrorDocument 500 /fehlerseiten/internal_server_error.php
# Fehlerseiten setzen