Header set Cache-Control "no-cache, no-store, must-revalidate, max-age=0, proxy-revalidate, no-transform"
Header set Pragma "no-cache"
ExpiresActive On
ExpiresDefault A0
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|ttf|eot|woff|swf)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>
# Server- und Firmencache ausschalten
# Icons und Bilder werden fuer eine bestimmte Zeit gecached

AddCharset utf-8 .css .htm .html .js .xml
php_value default_charset utf-8
# Character Encoding auf UTF-8 einstellen

RewriteEngine on
# mod_rewrite einschalten

# funktioniert nicht wie es sollte, location Variable wird nicht gesetzt
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?location=$1.php

#Options +Indexes
# Zugriff auf Verzeichnisuebersicht sperren - nur aktuelles Verzeichnis

#ErrorDocument 403 /fehlerseiten/forbidden.php
#ErrorDocument 404 /fehlerseiten/not_found.php
#ErrorDocument 500 /fehlerseiten/internal_server_error.php
# Fehlerseiten setzen